{% extends 'blog/base.html' %}

{%block content%}
    <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>
        {% for post in posts%}
        <!-- Blog Post -->
        <div class="card mb-4">
            {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="http://placehold.it/800x400" alt="Card image cap">
            {% endif %}
          <div class="card-body">
            <h2 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p class="card-text">{{ post.article_description|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary ">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Created {{ post.created_date }} by
            <a href="#">{{ post.author }}</a>
              | Категория: <a href="{% url 'category_post' category=post.category%}">{{ post.category }}</a>
              | Comments: {{ post.approved_comments.count }}
          </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                 <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}

            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number}}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}

        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                  {% for category in categories %}
                    <li>
                      <a href="{% url 'category_post' category=category.category%}">{{ category.category }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
{% endblock %}